body{
    background-image: url("imagenes/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgba(29, 70, 56, 0.733);
}
p{
    color: rgb(0, 0, 0);
    
    font-size: 30px;
}

nav{
    color: aliceblue;
}

div{
    color: aliceblue;
}